@media (max-width: 1790px) {
  .card-img_desktop {
    max-width: 340px;
  }

  .promo__btn {
    bottom: 4%;
    right: 2%;
  }
}

@media (max-width: 1400px) {
  .menu-btn {
    display: block;
    width: 40px;
    height: 40px;
    position: relative;
    z-index: 11;
    overflow: hidden;
    cursor: pointer;
  }

  .menu-btn span {
    width: 35px;
    height: 2px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #0a2b49;
    transition: all 0.3s;
  }

  .menu-btn span:nth-of-type(2) {
    top: calc(50% - 10px);
  }

  .menu-btn span:nth-of-type(3) {
    top: calc(50% + 10px);
  }

  .menu {
    flex-direction: column;
    justify-content: normal;
    text-align: right;
    align-items: end;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 15px;
    background: #e7f0ff;
    transform: translateY(-100%);
    transition: transform 0.3s;
    z-index: 3;
  }

  .menu.active {
    transform: translateX(0);
    z-index: 11;
  }

  /* Меняем гамбургер иконку, когда меню открыто */
  .menu-btn.active span:nth-of-type(1) {
    display: none;
  }
  .menu-btn.active span:nth-of-type(2) {
    top: 50%;
    transform: translate(-50%, 0%) rotate(45deg);
  }
  .menu-btn.active span:nth-of-type(3) {
    top: 50%;
    transform: translate(-50%, 0%) rotate(-45deg);
  }

  .header__nav {
    margin: 0;
    margin-bottom: 80px;
    padding-right: 25px;
    padding-top: 9vh;
  }

  .nav__list,
  .header__item {
    flex-direction: column;
  }

  .header__item {
    align-items: end;
    padding-right: 25px;
  }

  .nav__item:not(:last-child) {
    margin-bottom: 40px;
  }

  .phone__link {
    margin-bottom: 28px;
    margin-right: 0;
  }

  .header__btn {
    width: 142px;
  }

  .nav__item:not(:last-child) {
    margin-right: 0;
  }

  .logo_burger {
    display: flex;
    align-self: flex-start;
  }

  .promo__btn {
    right: 4%;
  }

  .card-text {
    font-size: 20px;
  }

  .card-info {
    font-size: 18px;
  }

  .card-img_desktop {
    max-width: 320px;
  }

  .btn {
    font-size: 16px;
  }

  .card-name {
    top: 1.5%;
    left: 2%;
  }
}

@media (max-width: 1650px) {
  .card-img_desktop {
    max-width: 300px;
  }
}

@media (max-width: 1600px) {
  .card-title {
    font-size: 24px;
  }

  .card-text {
    font-size: 16px;
  }

  .card-info {
    font-size: 14px;
  }

  .card-img_desktop {
    max-width: 235px;
  }

  .card-link {
    font-size: 22px;
  }

  .promo-center {
    display: block;
    /* width: 32%; */
    background-position: center bottom -60px, center top;
  }

  .promo-bottom {
    background-position: top 35px right 20px, left top;
  }

  .footer_left {
    width: 23.4%;
  }

  .footer__center {
    width: 40.5%;
  }

  .footer__right {
    width: 22%;
  }
}

@media (max-width: 1550px) {
  .promo__btn {
    right: 1%;
  }

  .card-link {
    font-size: 16px;
  }

  .card-link svg {
    width: 14px;
    height: 14px;
    margin-left: 8px;
  }

  .promo-center {
    background-position: center bottom -80px, center top;
  }

  .center_arrow {
    bottom: 3%;
    right: 5%;
  }

  .bottom__arrow {
    bottom: 6%;
    right: 5%;
  }
}

@media (max-width: 1460px) {
  .card-img_desktop {
    max-width: 200px;
  }

  .footer__right {
    max-width: 264px;
  }
}

@media (max-width: 1415px) {
  .title__text {
    font-size: 32px;
  }

  .subscription__content {
    padding: 20px 80px;
  }

  .promo {
    justify-content: space-between;
  }

  .promo-left {
    /* width: 42%; */
  }

  .promo-top {
    background-image: url(../img/bacrground1_tablet.webp);
  }

  .promo-top:hover {
    background-image: url(../img/background1_hover_tablet.webp);
  }

  .promo-bottom {
    background-image: url(../img/blonde.png),
      url(../img/background2_tablet.webp);
    background-position: top 35px right -10px, left top;
  }

  .promo-bottom:hover {
    background-image: url(../img/blonde.png),
      url(../img/background2_hover_tablet.webp);
  }

  .promo-center {
    /* width: 27%; */
    background-image: url(../img/brunette.png),
      url(../img/bacrground3_tablet.webp);
    background-position: bottom 0px right -6px, left top;
  }

  .promo-center:hover {
    background-image: url(../img/brunette.png),
      url(../img/background3_hover_tablet.webp);
  }

  .right-background {
    width: 100%;
    height: 100%;
  }

  .promo-right {
    /* width: 34%; */
  }

  .card-img_desktop {
    padding: 8px 10px 16px 20px;
  }

  .promo__btn {
    right: 7%;
  }

  .card-name {
    position: absolute;
  }

  .card-content {
    padding-top: 20px;
  }

  .card-title {
    margin-bottom: 8px;
  }

  .card-text {
    margin-bottom: 4px;
  }

  .card-info {
    margin-bottom: 2px;
    font-size: 14px;
  }

  .footer_link,
  .footer_small {
    font-size: 18px;
  }

  .footer_social:not(:last-child) {
    margin-right: 0;
  }

  .footer_text {
    font-size: 16px;
  }
}

@media (max-width: 1400px) {
  .subscription__content .form__error {
    bottom: 5px;
  }
}

@media (max-width: 1300px) {
  .promo__btn {
    right: 7%;
  }

  .promo-bottom {
    background-position: top 35px right, left top;
  }

  .card-text {
    line-height: 20px;
  }

  .footer_link,
  .footer_small {
    font-size: 16px;
  }

  .footer_text {
    font-size: 14px;
  }
}

@media (max-width: 1200px) {
    .affiche-img {
        mask: url(../img/mask-1024.webp);
        mask-repeat: no-repeat;
        mask-size: cover;
    }
}

@media (max-width: 1180px) {
  .center_content {
    padding-right: 20px;
  }

  .card-name {
    left: 6%;
  }
}

@media (max-width: 1150px) {
  .card-content {
    padding: 20px 9px 5px 18px;
  }

  .card-img_desktop {
    padding-left: 0;
  }

  .promo__btn {
    border-radius: 12px;
    padding: 8px 16px;
    right: 4%;
    bottom: 1%;
  }

  .promo-left {
    /* width: 45%; */
  }

  .promo-bottom {
    height: 150px;
    background-position: top 21px right 7px, left top;
  }

  .promo-center {
    background-position: bottom -1px right 4px, left top;
  }

  .card-item:not(:last-child) {
    margin-bottom: 2px;
  }

  .center_arrow {
    width: 14px;
    height: 14px;
  }

  .bottom__arrow {
    width: 14px;
    height: 14px;
  }
}

@media (max-width: 1140px) {
  .just-validate-error-label {
    margin-top: 72px;
    font-size: 14px;
  }

  .form__input {
    margin-bottom: 25px;
  }

  .footer_left,
  .footer__right {
    width: 26%;
  }

  .promo__btn {
    right: 3%;
  }

  .card-text {
    font-size: 14px;
  }

  .card-info {
    font-size: 10px;
  }

  .subscription__text,
  .form_name {
    font-size: 16px;
  }

  .form__input {
    font-size: 14px;
  }

  .form-btn {
    padding: 16px 8px;
  }

  .form {
    width: 61.5%;
  }

  .modal__btn {
    bottom: 35px;
  }

  .card-link {
    bottom: 12%;
  }
}

@media (max-width: 1024px) {
  .logo__img {
    margin-right: 8px;
  }

  .menu-btn {
    width: 30px;
    height: 30px;
  }

  .container {
    padding: 0 40px;
  }

  .header {
    padding-top: 14px;
    margin-bottom: 34px;
  }

  .subscription__text {
    max-width: 462px;
  }

  .promo {
    margin-bottom: 60px;
  }

  .promo-left {
    /* width: 42.3%; */
  }

  .promo-center {
    /* width: 24.4%; */
  }

  .promo-right {
    /* width: 33.3%; */
  }

  .card-img_desktop {
    padding: 0;
  }

  .card-title {
    margin-bottom: 4px;
  }

  .card-content {
    padding: 12px 16px 0px 15px;
  }

  .btn {
    font-size: 18px;
  }

  .promo-top:hover {
    background-image: url(../img/bacrground1_tablet.webp);
  }

  .promo-bottom {
    background-image: url(../img/blonde_tablet.png),
      url(../img/background2_tablet.webp);
    background-position: top 11px right -1px, left top;
  }

  .promo-bottom:hover {
    background-image: url(../img/blonde_tablet.png),
      url(../img/background2_tablet.webp);
    cursor: default;
  }

  .card-width {
    max-width: 188px;
  }

  .promo-center {
    cursor: default;
  }

  .promo-center:hover {
    background-image: url(../img/brunette.png),
      url(../img/bacrground3_tablet.webp);
  }

  .form-btn {
    padding: 11px 6px;
  }

  .form_agree, .form_link {
    font-size: 12px;
  }

  .subscription {
    margin-bottom: 56px;
  }

  .partners {
    margin-bottom: 100px;
  }

  .footer_small {
    font-size: 14px;
  }

  .logo_burger {
    padding: 20px;
    padding-top: 0;
  }
}


@media (max-width: 950px) {
  .title__text {
    font-size: 28px;
  }

  .promo__btn {
    right: 0%;
    bottom: 4%;
  }

  .card-content {
    width: 100%;
  }

  /* .partners__list .swiper-wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 12px;
  }

  .partners__list .swiper-slide {
    margin-right: 0 !important;
    width: 100% !important;
  } */

  .partners__list {
    flex-wrap: wrap;
    --gap: 12px;
  }
/*
  .partners__item {
    --offset: 2;
  } */

  .footer {
    flex-direction: column-reverse;
    align-items: flex-start;
  }

  .footer_left,
  .footer__center,
  .footer__right {
    width: 100%;
  }

  .footer__logo {
    display: none;
  }

  .footer__logo_link {
    display: block;
    margin-bottom: 40px;
  }

  .footer_list {
    margin-bottom: 40px;
  }

  .footer_text {
    margin-bottom: 40px;
  }

  .footer__personal {
    margin-bottom: 40px;
  }

  .partners {
    margin-bottom: 40px;
  }

  .promo {
    grid-template-columns: 1fr 1fr;
  }

  .promo-left {
    grid-column: 2 span;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
    gap: 20px;
  }

  .promo-top {
    margin-bottom: 0;
    width: 50%;
    height: 295px;
    border-radius: 30px;
  }

  .btn {
    font-size: 16px;
  }

  .promo__btn {
    right: 6%;
    bottom: 4%;
  }

  .promo-bottom {
    background-image: url(../img/blonde.png),
      url(../img/background2_tablet.webp);
    width: 50%;
    height: 100%;
    background-position: top 88px right -10px, left top;
  }

  .promo-bottom:hover {
    background-image: url(../img/blonde.png),
      url(../img/background2_tablet.webp);
  }

  .promo-center {
    /* width: 50%; */
    grid-column: 1;
    grid-row: 2;
    background-position: bottom -61px right 4px, left top;
  }

  .promo-right {
    /* width: 47%; */
    grid-column: 2;
    grid-row: 2;
  }

  .card-content {
    padding: 17px 20px 0px 20px;
  }

  .card-text {
    margin-bottom: 14px;
  }

  .card-info {
    margin-bottom: 14px;
  }
}

@media (max-width: 820px) {
  .promo-right {
    /* width: 45%; */
  }

  .promo__btn {
    right: 2%;
  }

  .promo-bottom {
    background-position: top 124px right -10px, left top;
  }
}

@media (max-width: 790px) {
  .card-img_desktop {
    max-width: 190px;
  }

  .card-text {
    margin-bottom: 4px;
  }

  .card-info {
    margin-bottom: 4px;
  }
}

@media (max-width: 746px) {
  .card-img_desktop {
    max-width: 160px;
  }

  .promo__btn {
    right: 0;
  }
}

@media (max-width: 700px) {
  .just-validate-error-label {
    margin-top: 76px;
  }

  .container {
    padding: 0 20px;
  }

  .promo-center {
    background-position: bottom -90px right 4px, left top;
  }

  .subscription__content {
    padding: 20px;
    flex-direction: column;
  }

  .form {
    width: 100%;
  }

  .subscription__text {
    max-width: 100%;
    margin-bottom: 20px;
  }

  .form__input {
    padding: 14px 23px;
  }

  .modal__btn {
    bottom: 38px;
  }

  .form_agree, .form_link {
    font-size: 14px;
  }
}

@media (max-width: 630px) {
  .card-img_desktop {
    max-width: 150px;
  }

  .promo-bottom {
    background-position: top 143px right -10px, left top;
  }
}

@media (max-width: 576px) {
  .title {
    margin-bottom: 40px;
  }

  .promo,
  .promo-left {
    flex-direction: column;
    align-items: center;
    gap: 12px;
  }

  .promo {
    margin-bottom: 40px;
    grid-template-columns: 1fr;
  }

  .promo-top,
  .promo-bottom,
  .promo-center {
    /* width: 320px; */
    width: 100%;
    height: 230px;
  }


  .promo-right {
    /* width: 320px; */
    grid-column: 1;
    grid-row: 3;
  }

  .card-img_desktop {
    width: 165px;
  }

  .card-title {
    margin-bottom: 4px;
  }

  .promo-bottom {
    background-position: top 75px right 17px, left top;
  }

  .promo-center {
    grid-column: 1;
    grid-row: 2;
    background-image: url(../img/brunette.png),
      url(../img/bacrground3_tablet.webp);
    background-position: bottom -89px right 4px, left top;
  }

  .bottom__arrow,
  .center_arrow {
    bottom: 7%;
    right: 5%;
  }

  .partners__item {
    /* --offset: 1; */
    height: 122px;
  }

  .partners__list .swiper-wrapper {
    grid-template-columns: repeat(2, 1fr);
  }
}
