.modal__close {
    z-index: 2;
}

.modal-news.modal__offer {
    overflow: auto;
    background-color: #F2F7FF;
}

.modal-news .modal__window {
    max-width: 100%;
    left: 0;
    transform: translateY(100px);
}

.new__block {
    margin-bottom: 100px;
    display: grid;
    grid-template-columns: repeat(9, 1fr);
    gap: 60px;
    padding: 40px 60px;
    max-height: 990px;
    border-radius: 20px;
    background-color: var(--blue);
}

.new__block img {
    height: 900px;
    width: 100%;
    object-fit: cover;
    border-radius: 20px;
}

.new__right {
    display: flex;
    flex-direction: column;
}

.new__text {
    overflow: auto;
    height: 100%;
    max-height: 800px;
}


.new__video {
    display: flex;
    justify-content: end;
}

.new__left {
    position: relative;
    grid-column: 1/5;
}

.new__right {
    grid-column: 5/10;
}

.new__left iframe {
    height: 900px;
    border-radius: 20px;
}

.new__title {
    margin-bottom: 40px;
    font-family: Repo;
    font-size: 40px;
    font-weight: 700;
    line-height: 120%;
}

.new__tag {
    position: absolute;
    top: 30px;
    left: 20px;
    padding: 12px 24px;
    font-weight: 600;
    color: white;
    border-radius: 16px;
}

.new__tag--preview {
    background: linear-gradient(277deg, #D547BA 0%, #FED030 154.35%);
}

.new__tag--event {
    background: linear-gradient(95deg, #056BF0 -4.05%, #5724A7 107.33%);
}

.new__tag--new {
    background: linear-gradient(93deg, #D547BA -4.18%, #5724A7 147.75%);
}

.modal-news .modal-slider .swiper-slide {
    padding: 0 155px;
}

.new__btns {
    position: relative;
    margin-bottom: 40px;
    display: flex;
    justify-content: end;
    gap: 20px;
}

.share {
    position: absolute;
    top: 130%;
    padding: 40px;
    border-radius: 20px;
    background-color: var(--cyan);
}

.share__close {
    position: absolute;
    top: 20px;
    right: 20px;
}

.share__title {
    margin-bottom: 40px;
    font-family: Repo;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
}

.ya-share2__container_shape_round.ya-share2__container_size_l .ya-share2__badge .ya-share2__icon:not(.ya-share2__icon_messenger-contact):not(.ya-share2__icon_more):not(.ya-share2__icon_copy) {
    width: 100%;
    height: 100%;
    background-size: 100px 100px !important;
}

.ya-share2__list.ya-share2__list_direction_horizontal {
    display: flex;
    gap: 20px;
}

.ya-share2__list.ya-share2__list_direction_horizontal>.ya-share2__item>.ya-share2__link>.ya-share2__title {
    display: block !important;
    margin-left: 0 !important;
    font-family: Manrope;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
}

.ya-share2__container_size_l .ya-share2__title {
    line-height: 120% !important;
}

.ya-share2__link {
    display: flex !important;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.ya-share2__container_shape_round .ya-share2__badge {
    width: 100px;
    height: 100px;
}

.ya-share2,
.ya-share2 {
    margin-bottom: 28px;
}

.share__form {
    padding: 12px 24px;
    position: relative;
    width: 100%;
    background-color: white;
    border-radius: 16px;
}

.share__input {
    padding: 12px 0;
    width: 60%;
    outline: none;
    border: none;
    background-color: transparent;

}

.share__input:focus {
    box-shadow: none !important;
}

.share__btn {
    padding: 12px 24px;
    position: absolute;
    top: 11px;
    right: 12px;
    font-size: 24px;
    font-weight: 600;
}



@media (max-width: 1400px) {

    .modal-news.modal__offer,
    .new__block {
        background-color: #E7F0FF;
    }

    .new__block {
        position: relative;
        grid-template-columns: repeat(2, 1fr);
        margin-bottom: 20px;
        gap: 20px;
        padding: 0;
        border-radius: 0;
    }

    .new__tag {
        top: 10px;
        left: 10px;
    }

    .modal-news .modal-slider .swiper-slide {
        padding: 0 100px;
    }

    .new__block img {
        height: 586px;
    }

    .new__left iframe {
        height: 586px;
    }

    .new__title {
        margin-bottom: 20px;
        font-size: 24px;
    }

    .new__left {
        grid-column: 1;
    }

    .new__text {
        max-height: 400px;
    }

    .new__right {
        display: flex;
        flex-direction: column;
        grid-column: 2;
    }

    .new__btns {
        position: inherit;
        margin-top: auto;
        margin-bottom: 0;
        flex-direction: column;
        order: 1;

    }

    .share {
        padding: 40px 20px 20px 20px;
        top: 10%;
        left: 50%;
        transform: translateX(-50%);
    }

    .ya-share2__container_shape_round .ya-share2__badge {
        width: 60px;
        height: 60px;
    }


    .ya-share2__container_shape_round.ya-share2__container_size_l .ya-share2__badge .ya-share2__icon:not(.ya-share2__icon_messenger-contact):not(.ya-share2__icon_more):not(.ya-share2__icon_copy) {
        background-size: 60px 60px !important;
    }

    .ya-share2__list.ya-share2__list_direction_horizontal>.ya-share2__item>.ya-share2__link>.ya-share2__title {
        font-size: 14px;
    }

    .share__btn {
        font-size: 20px;
    }

    .ya-share2,
    .ya-share2 {
        padding: 0 30px;
    }

    .share__title {
        margin-bottom: 20px;
        font-size: 20px;
    }

    .ya-share2__link {
        gap: 16px;
    }

}

@media (max-width: 992px) {
    .new__block {
        margin-bottom: 20px;
        display: flex;
        flex-direction: column;
        max-height: 100%;
    }

    .new__tag {
        top: 20px;
        left: 20px;
    }

    .modal-news .modal-slider .swiper-slide {
        padding: 0;
    }

    .modal-news .swiper-button-next,
    .modal-news .swiper-button-prev {
        top: 26px;
        z-index: 20;
        order: -1;
    }

    .modal-news .swiper-button-next {
        left: 60px;
    }

    .modal-news .swiper {
        display: flex;
        flex-direction: column;
    }

    .modal-news .swiper-wrapper {
        padding-top: 60px;
    }

    .modal-news .modal__window {
        height: 100%;
        transform: translateY(52px);
    }

    .new__text {
        margin-bottom: 20px;
        max-height: 100%;
        overflow: inherit;
    }
}

@media (max-width: 768px) {
    .modal__offer.modal-news .btn-close {
        top: 20px;
        right: 20px;
    }

    .modal__offer.modal-news {
        background: #E7F0FF;
    }

    .new__block img {
        height: 400px;
    }

    .new__left iframe {
        height: 400px;
    }

    .share {
        padding: 12px 20px;
        position: fixed;
        bottom: 0;
        top: auto;
        width: 100%;
        border-radius: 20px 20px 0px 0px;
    }

    .ya-share2__container_shape_round .ya-share2__badge {
        width: 40px;
        height: 40px;
    }

    .ya-share2__container_shape_round.ya-share2__container_size_l .ya-share2__badge .ya-share2__icon:not(.ya-share2__icon_messenger-contact):not(.ya-share2__icon_more):not(.ya-share2__icon_copy) {
        background-size: 40px 40px !important;
    }

    .ya-share2__list.ya-share2__list_direction_horizontal>.ya-share2__item>.ya-share2__link>.ya-share2__title {
        font-size: 10px;
    }

    .ya-share2__link {
        gap: 4px;
    }

    .ya-share2,
    .ya-share2 {
        padding: 0;
    }

    .ya-share2__list.ya-share2__list_direction_horizontal {
        justify-content: center;
        padding-left: 65px;
    }

    .share__close {
        top: 4px;
        right: 4px;
    }

    .share__btn {
        padding: 12px 14px;
        top: 4px;
        right: 4px;
        font-size: 16px;
    }

    .share__form {
        padding: 4px 12px;
    }

    .share__input {
        padding: 15px 0;
        font-size: 12px;
    }

    .modal-news .modal__window {
        position: relative;
    }


    .modal__offer.modal-news {
        padding: 0;
    }

    .modal-news .modal-slider .swiper-slide {
        padding: 20px;
        padding-top: 0;
    }

    .new__block {
        margin-bottom: 0;
    }

    .modal-news .swiper-button-prev {
        left: 20px;
    }

    .modal-news .swiper-button-next {
        left: 80px;
    }

    .ya-share2__list {
        overflow-x: auto;
        overflow-y: hidden;
    }


    .ya-share2__list {
        overflow: auto;
        -ms-overflow-style: none;
        scrollbar-width: none;
    }

    .ya-share2__list::-webkit-scrollbar {
        width: 0;
        height: 0;
    }


}
