/*Обнуляющиек стили*/
*,
*::before,
*::after {
    box-sizing: border-box;
}

a {
    color: inherit;
    text-decoration: none;
}

img {
    max-width: 100%;
}

p,
h1,
h2,
h3 {
    margin: 0;
}
.serv{
    padding-bottom: 120px;
}
.active_tab {
    color: #0A2B49;
    background: #d1e1f7!important;
    text-decoration: none!important;
    border-radius: 20px!important;

}

.service_item {
    cursor: pointer;
    max-width: 445px;
    color: #0A2B49;
    font-family: Manrope;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: 120%; /* 28.8px */
    padding: 20px;
}

.service_item__label {
    display: flex;
    flex-direction: column;
}

.service_item:hover {
    text-decoration: underline;
}

.service_item__wrap {
    display: flex;

}

.service_title {
    font-family: Perun;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-align: center;
    color: #0A2B49;
    padding-bottom: 60px;
}

.service_nav_title {
    color: #0A2B49;
    font-family: Perun;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.service_wrap {
    padding: 40px 20px 20px 20px;
    border-radius: 20px;
    background: #FFF;
    max-width: 445px;
    flex-grow: 1;
    width: 100%;
    max-height: 370px;
}

.service_wrap_second {
    padding-left: 20px;
    flex-grow: 1;
    background: #E7F0FF;
}
.game_wrapper {
    position: relative;
    width: 100%;
    height: 100vh;
    max-width: 1375px;
    max-height: 904px;
    background: url("../img/banner_game.png");
    background-size: contain;
    position: relative;
    background-repeat: no-repeat;

}
.app_promo{
    position: relative;
    width: 100%;
    height: 100vh;
    max-width: 1375px;
    max-height: 904px;
    background: url("../img/promo_app.png");
    background-size: contain;
    position: relative;
    background-repeat: no-repeat;
}


.game_wrapper_box{
    position: absolute;
    top: 40%;
    height: fit-content;
    padding-left: 40px;
}
.app_promo_box{
    top: 30%;
}
.game_wrapper p{
    color: #0A2B49;
    font-size: 40px;
    max-width: 456px;
    font-family: "Repo";
    line-height: 28.8px;
    padding-bottom: 20px;
}
.app_promo p{
    color: #0A2B49;
    font-size: 48px;
    max-width: 666px;
    font-family: "Repo";
    line-height: 48.8px;
    padding-bottom: 20px;
}

.game_wrapper span{
    display: block;
    color: #0A2B49;
    font-size: 24px;
    max-width: 456px;
    font-family: "Manrope";
    line-height: 28.8px;
    padding-bottom: 60px;
}
.app_promo_box span{
    display: block;
    color: #0A2B49;
    font-size: 24px;
    max-width: 638px;
    font-family: "Manrope";
    line-height: 28.8px;
    padding-bottom: 60px;
}
.game_wrapper button{
    color: white;
    padding: 20px 40px;
    font-family: "Manrope";
    font-size: 24px;
    border-radius: 16px;
    background: linear-gradient(92.22deg, #056BF0 1.05%, #D547BA 100%);;
}
@media (max-width: 1700px) {
    .game_wrapper_box{
        position: absolute;
        top: 5%;
        left: 0;
        right: 0;
        height: fit-content;
        padding-left: 40px;
        width: fit-content;
        margin: 0 auto;
    }
    .game_wrapper {
        position: relative;
        width: 100%;
        height: 100vh;
        max-width: 1375px;
        max-height: 904px;
        background: url("../img/game_bg_tab.png");
        background-size: contain;
        position: relative;
        background-repeat: no-repeat;
        background-position: center;

    }

}
@media (max-width: 1440px) {
    .game_wrapper {
        background-position: initial;
    }
    .game_wrapper p{
        font-size: 24px;
    }
    .game_wrapper span{
        font-size: 16px;
        padding-bottom: 7px;
    }
    .game_wrapper button{
        font-size: 20px;
    }
    .game_wrapper button {
        padding: 10px 15px;
    }
}
@media (max-width: 700px) {
    .game_wrapper {
        position: relative;
        width: 360px;
        height: 500px;
        max-width: 1375px;
        max-height: 904px;
        background: url(../img/game_bg_mob.png);
        background-size: 100% 100%;
        position: relative;
        background-repeat: no-repeat;
        background-position: center;
        margin: 0 auto;
    }
    .service_wrap_second{
        padding-left: 0;
    }
    .game_wrapper p{
        padding-bottom: 0;
    }
}
@media (max-width: 400px) {
    .game_wrapper {
        position: relative;
        width: 300px;
        height: 400px;
        max-width: 1375px;
        max-height: 904px;
        background: url(../img/game_bg_mob.png);
        background-size: 100% 100%;
        position: relative;
        background-repeat: no-repeat;
        background-position: center;
        margin: 0 auto;
    }
}